@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --background: #1B3C53; */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
    /* Untuk Internet Explorer dan Edge */
    -ms-overflow-style: none;  
    /* Untuk Firefox */
    scrollbar-width: none;  
}

/* Untuk Chrome, Safari, dan Opera (Webkit-based browsers) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.blinking-cursor {
  color: #333; /* Sesuaikan dengan warna teks Anda */
  animation: 
    blink 1s step-end infinite;
}

/* Custom scrollbar untuk webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
